//base//
@use "./partials/base/reset";
@use "./partials/base/tipografia";
//components//
@use "./partials/components/general";
@use "./partials/components/header";
@use "./partials/components/in-main";
@use"./partials/components/botones";
//utilities//
@use "./partials/ultility/mixins";
@use "./partials/ultility/variables";
@use "./partials/components/media";
