@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*font-family: "PT Serif", serif;*/
body {
  font-family: "PT Serif", serif;
}

/*font-family: "PT Serif", serif;*/
body {
  font-family: "PT Serif", serif;
  background-color: #f8f9fa;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: green;
  margin: 16px;
  padding: 16px;
  background-color: #7fffd4;
  border: 3px solid black;
}

h2 {
  margin: 16px;
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 16px;
}

h4 {
  color: black;
  font-size: 14px;
}

li {
  margin: 16px;
}
.img-yoga{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0 auto;
}
p {
  margin: 16px;
  color: blue;
}


div h3 {
  margin: 5px 20px;
  padding: 5px 20px;
}

.img {
  transition: filter 0.3s ease;
}
.img:hover {
  filter: brightness(75%);
}

div {
  display: inline-block;
}


.nav-li {
  list-style-type: none;
}

.navbar-nav {
  margin: 0 auto;
  gap: 100px;
}

.my-nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100px;
  height: 80px;
  text-decoration: none;
  margin: 16px 8px 16px 16px;
  padding: 12px;
  border: 2px solid black;
}
.my-nav-link:hover {
  color: #3ca24b;
  background-color: rgb(133, 133, 133);
}

.navbar-mio {
  background-color: rgb(255, 255, 255);
  padding: 16px 24px;
}

.nav-link-mio {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  transition: color 0.3s;
}

.tituloprimerpagina {
  color: green;
  margin: 16px;
  padding: 16px;
  background-color: #7fffd4;
  border: 3px solid black;
}

.p-titulo {
  margin: 16px;
  padding: 16px;
  font-size: 20px;
}

.boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  text-align: center;
  border: 1px solid black;
  border-radius: 12px;
  background-color: yellowgreen;
  margin: 0 auto;
}

.locales {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div a img {
  width: 200px;
  margin: 5px 20px;
}

.quien-soy-main-content {
  margin: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.ref {
  margin: 16px;
}

.ref-titulos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "title-complete-plan title-intermediate-plan title-basic-plan" "complete-plan       intermediate-plan       basic-plan";
  gap: 20px;
  padding: 20px;
  background-color: yellow;
  border: 2px solid black;
  max-width: 1200px;
  margin: 0 auto;
}

.title-complete-plan {
  grid-area: Plan Completo;
  text-align: center;
}

/*titulos*/
.title-intermediate-plan {
  grid-area: Plan intermedio;
  text-align: center;
}

.title-basic-plan {
  grid-area: Plan basico;
  text-align: center;
}

/*planes*/
.complete-plan {
  grid-area: complete-plan;
  background-color: aquamarine;
  border: 1px solid black;
  padding: 15px;
}

.intermediate-plan {
  grid-area: intermediate-plan;
  background-color: aquamarine;
  border: 1px solid black;
  padding: 15px;
}

.basic-plan {
  grid-area: basic-plan;
  background-color: aquamarine;
  border: 1px solid black;
  padding: 15px;
}

.coment-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coment-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coment-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-reseñas {
  margin: 10px 30%;
  border: 3px solid black;
}

.container-boots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-wrap: wrap;
}

.my-form {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-wrap: wrap;
}

.my-form-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-wrap: wrap;
}

.reseñas {
  color: black;
  font-size: 20;
}

@media (max-width: 450px) {
  .nav-link {
    font-size: 14px;
    color: black;
    width: 70px;
    height: 50px;
    text-decoration: none;
    margin: 8px;
    padding: 6px;
    border: 2px solid black;
  }
  .noe-nutri {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 300px;
  }
  .boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    background-color: yellowgreen;
    margin: 0 auto;
  }
  .locales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 100px;
    gap: 20px;
  }
  .img {
    width: 120px;
  }
  .store-names {
    font-size: 14px;
  }
  .footer-index {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
